*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* background-image: url("https://i.pinimg.com/564x/bd/ba/73/bdba73c5ad4050a370f16e4c44fa8654.jpg"); */
}
/* navagation starts */
.head{
    height: 20vh;
    margin: 0%;
    padding:0%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 40%;
    font-size: 2rem;
    font-weight: 700;
}
.topic{
    width: 40%;
    overflow: hidden;
    
}
.topic a{
padding: 3%;
text-decoration: none;
font-size: 1.5rem;
font-weight: 600;
color: orangered;
}
/* nav bar ends here  */

/* body starts */
main{
    width: 100%;
}
.img{
    height: 350px;
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
    /* border: 5px solid black; */
     
}
img{
    height: 50vh;
    margin-right: 20px;
    margin-right: 40px;
}
.img p{
    text-decoration: none;
    color: orangered;
    font-weight: 700;
}
/* about me starts  */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    
}
.about img{
    height: 80vh;
    width: 600px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: right;
    display: flex;
}
.about_me{
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}
/* about me ends  */

.wrap{
    width: 1200px;
    margin-top: 20px;
    margin: auto;
    display: flex;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.4s;
    width: 500px;
    background: #fff;
    text-align: center;
    font-size:16px ;
    font-family: sans-serif;
    float: left;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.card img{
    width: 100%;


}
.likes{
    align-items: center;
    display: flex;
     margin-top: 50px;
    justify-content: center;
    color: green;
    margin-bottom: 40px;
}

/* contact starts  */

.contact_box{
    width: 500px;
    background-color: rgb(209, 183, 31);
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* position: absolute; */
    justify-content: center;
    display: flex;
   margin-top: 50px;
   margin-left: 450px;
   margin-bottom: 50px;
}

form{
    margin: 35px;
    /* border: 3px solid red; */
    margin-bottom: 50px;
    margin-top: 50px;
}
.input_form{
    width: 400px;
    height: 40px;
    margin-top: 200px;
    padding-left: 200px;
    padding-right: 100px;
    border-radius: 14px;
    margin-bottom: 200px;
    border: 1px solid#777;
    outline: none;
    margin-bottom: 100px;

}
.contact{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 80px;
    font-weight: 1000;
    font-size: xx-large;
    background-color: aqua;
    height: 6vh;
}
.input-field{
    display: flex;
    justify-content: center;

}
.input-button{
    width: 100px;
    color: blue;

}



/* contact ends  */

/* footer starts */
footer{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
